/app/config/parameters.yml
/extras/migrate.settings.php
/extras/api.ini
/app/data/data.db3
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/prod/*
/var/cache/dev/*
!var/cache/.gitkeep
!var/cache/prod/.gitkeep
!var/cache/dev/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/prod/*
/var/sessions/dev/*
!var/sessions/.gitkeep
!var/sessions/prod/.gitkeep
!var/sessions/dev/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
